{% form_theme formAddedBook 'bootstrap_4_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block title %}Ajouter un livre{% endblock %}


{% block body %}
<div class="container">
    <h1>Ajouter un livre </h1>

    <div class="jumbotron">
        {{ form_start(formAddedBook) }}

        {#{{ dump() }}#}

        <div class="form-group">
            {{ form_row(formAddedBook.title, {'label': 'Titre', 'attr': {
        'placeholder': 'Titre du livre ...'}})
            }}
        </div>
        <div class="form-group">
            {{ form_row(formAddedBook.author, {'label': 'Auteur'})
        }}
        </div>

        <div class="form-group">
            {{ form_row(formAddedBook.publisher, {'label': 'Editions', 'attr': {
        'placeholder': 'Editions ...'}})
            }}
        </div>

        <div class="form-group">
            {{ form_row(formAddedBook.publishedDate, {'label': 'Date de publication', 'attr': {
        'placeholder': 'Date de publication ...'}})
            }}
        </div>

        <div class="form-group">
            {{ form_row(formAddedBook.summary, {'label': 'Résumé', 'attr': {
        'placeholder': 'Résumé du livre ...'}})
            }}
        </div>

        <div class="form-group">
            {{ form_row(formAddedBook.publishedDate, {'label': 'Date de publication', 'attr': {
        'placeholder': 'Date de publication ...'}})
            }}
        </div>
        <div class="form-group">
            {{ form_row(formAddedBook.imageFile, {'label': 'Couverture', 'attr': {
        'placeholder': 'Insérer l\'image de la couverture  ...'}})
            }}
        </div>
        <div class="form-group">
            {{ form_row(formAddedBook.category, {'label': 'Categorie', 'attr': {
        'placeholder': 'Choisir une catégorie ...'}})
            }}
        </div>
        <div class="form-group">
            {{ form_row(formAddedBook.price, {'label': 'Prix', 'attr': {
            'placeholder': 'Prix du livre ...'}})
            }}
        </div>

        <button type="submit" class="btn btn-success">Ajouter !</button>

        {{ form_end(formAddedBook) }}
    </div>
</div>
{% endblock %}