{% extends 'base.html.twig'%}

{% block title 'Informations sur le livre'%}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/bookstore/showbook.css') }}" rel="stylesheet" />
{% endblock stylesheets%}

{% block body %}
<!-- Container one-book-->
<div class="container one-book">
    <!-- Row -->
    <div class="row">
        <!-- First -->
        <div class="first col-lg-8 col-12">
            <!-- Section info-book -->
            <section class="info-book">
                <!-- Section-inner -->
                <div class="section-inner">
                    <h3 class="info-book">Informations sur le livre</h3>
                    <!-- Item row -->
                    <div class="item row mt-4">
                        <div class="col-md-2 col-12">
                            <img src="{{ asset('images/covers/')}}{{book.filename}}" style="width: inherit"
                                alt="festival extra danse">
                        </div>
                        <div class="col-md-6 col-12">
                            <h3>{{book.title}}</h3>
                            <h4>{{book.author.name}}</h4>
                        </div>
                        <div class="col-md-4 col-12">
                            <p><b>Paru le :</b> {{book.publishedDate|date("d/m/Y")}}</p>
                            <p><b>Editeur :</b> {{book.publisher}}</p>
                        </div>
                        <div class="row col-md-8 col-12 mt-4">
                            <p><b>Résumé :</b> {{book.summary | nl2br}}</p>
                        </div>
                    </div>
                    <!-- /.item row -->
                </div>
                <!-- /.section-inner -->
            </section>
            <!-- /.section info-book  -->
        </div>
        <!-- /.first -->

        <!-- second -->
        <div class="second col-lg-4 col-12">
            <section class="buy-book">
                <!-- Section-inner -->
                <div class="section-inner">
                    <h3 class="buy-book">Acheter ce livre</h3>
                    <div class="item row mt-4">
                        <div class="col-md-6 offset-md-3">
                            <p><b>Prix : </b> {{book.price}} €</p>
                        </div>
                        <div class="col-md-6 offset-md-3 mt-4">
                            {# <form action="{{ path('cart') }}" method="POST"> #}
                            <form action="{{ path('add', {'id': book.id}) }}" method="GET">

                                <select name="quantity" id="quantity">
                                    {# <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option> #}
                                    {% for i in 1..10 %}
                                    <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                                {# <a href="{{ path('cart') }}" class="btn btn-success btn-sm mt-4">Ajouter
                                    au panier
                                    !</a> #}

                                <button class="btn btn-success mt-4">Ajouter au panier !</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- /.second -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container one-book -->
<div class="jumbotron-white">
    <a href="{{ path('bookstore')}}" class="btn btn-primary btn-sm mt-4">Retour à la librairie</a>
</div>
{# <div class="jumbotron-white">
     <p>Prix</p>
        <p>Quantité</p>
        <p>Ajouter au panier</p> 
    <p>Haut de la page</p>
</div> #}
{% endblock %}