{% extends 'base.html.twig' %}

{% block title %}Votre panier !{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Votre panier</h1>


        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Titre du livre</th>
                    <th>Prix</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for book in cart %}
                <tr>
                    <td> {{book.title}} </td>
                    <td> {{book.price}} </td>
                    <td>
                        <a href="{{ path('removeToCart', { id : book.id }) }}">Retirer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/cartshopping/cart_shopping.js')}}"></script>
{% endblock %}