{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset ('css/admin/header/header.css') }}">
<link rel="stylesheet" href="{{ asset ('css/admin/navigation/sidebar.css') }}">
<link rel="stylesheet" href="{{ asset ('css/admin/user/admin.css') }}">
{% endblock stylesheets %}

{% block header %}
{% include 'admin/partials/header.html.twig' %}
{% endblock header %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
<div class="row user-admin">
    <div class="row col-md-3">
        {% include 'admin/partials/sidebar.html.twig' %}
    </div>

    <div class="row col-md-8 mt-4">
        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}
        <h2>Liste de l'ensemble des utilisateurs</h2>

        <table class="table table-striped mt-4 library">
            <thead>
                <tr>
                    <th>Pseudo</th>

                    <th>Email</th>
                    <th>Rôles</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users%}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email}}</td>
                    <td>{{ user.roles|json_encode() }}</td>
                    <td class="btn-action">
                        <a href="{{ path('admin_user_one', {id: user.id}) }}" class="btn btn-outline-success"><i
                                class="far fa-eye"></i></a>
                        <a href="{{ path('admin_user_edit', {id: user.id}) }}" class="btn btn-outline-primary"><i
                                class="fas fa-pencil-alt"></i></a>
                        <a href="{{ path('admin_user_delete', {id: user.id}) }}" class="btn btn-outline-danger"><i
                                class="far fa-times-circle"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endif %}
{% endblock %}