{% extends 'base.html.twig' %}

{% block title %}Connexion !{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/form/login.css')}}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h2>Identifiez-vous</h2>
        <div class="jumbotron col-md-12 mt-4">
            <div class="row loginForm">
                <div class=" col-md-4 offset-md-1">
                    <!-- Form  -->
                    <form method="post">
                        {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                        {% endif %}
                        <legend><i class="fa fa-lock" aria-hidden="true"></i> Connexion</legend>
                        <div class="form-group">
                            <label for="inputEmail" class="sr-only">Email</label>
                            <input type="email" value="{{ last_username }}" name="_username" id="inputEmail"
                                class="form-control" placeholder="Adresse email ..." required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" name="_password" id="inputPassword" class="form-control"
                                placeholder="Mot de passe ..." required>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Connexion !</button>
                        </div>
                        <input type="hidden" name="_target_path" value="{{ targetPath }}" />
                    </form>
                    <!-- /.form -->
                </div>

                <div class=" col-md-4 offset-md-2 signIn">
                    <h5>Créer un compte !</h5>
                    <a class="btn btn-primary" href="{{ path('security_registration') }}"><i class="fa fa-plus"></i> Je
                        m'inscris</a>
                </div>
            </div>
            <!-- /.loginForm -->
        </div>
        <!-- /.jumbotron -->
    </div>
    <!-- /.row -->
</div>
{% endblock %}