{% form_theme formRegistration 'bootstrap_4_layout.html.twig' %}

{#{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/form/registration.css')}}">
{% endblock %}#}

{% block body %}
<div class="container">
    <div class="row-flex">
        <div class="row col-md-12">
            {{ form_start(formRegistration, {'action': path('security_registration')}) }}

            <div class="form-row">
                {{ form_row(formRegistration.username, {'label': 'Pseudo', 'attr': {
                    'placeholder': 'Pseudo ...'}})
                }}
            </div>

            <div class="form-row">
                {{ form_row(formRegistration.email, {'label': 'Adresse email', 'attr': {
                    'placeholder': 'Adresse email ...'}})
                }}
            </div>

            <div class="form-row">
                {{ form_row(formRegistration.password, {'label': 'Mot de passe', 'attr': {
                    'placeholder': 'Mot de passe ...'}})
                }}
            </div>

            <div class="form-row">
                {{ form_row(formRegistration.confirm_password, {'label': 'Confirmation du mot de passe', 'attr': {
                    'placeholder': 'Confirmez le mot de passe ...'}})
                }}
            </div>
        </div>

        <button type="submit" class="btn btn-success">Inscription!</button>


        {{ form_end(formRegistration)}}
    </div>
</div>
</div>
{% endblock %}