{% form_theme formRegistration 'bootstrap_4_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Inscrivez-vous</h1>
    <div class="jumbroton">
        {{ form_start(formRegistration) }}
        {# {{ form_widget(formRegistration) }} #}

        <div class="form-row">
            {{ form_row(formRegistration.username, {'label': 'Pseudo', 'attr': {
        'placeholder': 'Pseudo ...'}})
            }}
        </div>

        <div class="form-row">
            {{ form_row(formRegistration.email, {'label': 'Adresse email', 'attr': {
        'placeholder': 'Adresse email ...'}})
            }}
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form_row(formRegistration.password, {'label': 'Mot de passe', 'attr': {
        'placeholder': 'Mot de passe ...'}})
                }}
            </div>
            <div class="form-group col-md-6">
                {{ form_row(formRegistration.confirm_password, {'label': 'Confirmation du mot de passe', 'attr': {
        'placeholder': 'Confirmez votre mot de passe ...'}})
                }}
            </div>
        </div>


        <button type="submit" class="btn btn-success">Inscription!</button>

        {{ form_end(formRegistration)}}

    </div>
</div>
{% endblock %}