{% form_theme formRegistration 'bootstrap_4_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/form/registration.css')}}">
{% endblock %}

{% block body %}
<div class="container">
    <h2>Formulaire d'inscription</h2>
    <div class="row formRegistration">

        {{ form_start(formRegistration) }}

        <div class="form-row col-md-12">
            {{ form_row(formRegistration.username, {
                        'label': 'Pseudo', 
                        'attr': {'placeholder': 'Pseudo...'}
                    })   
        }}
        </div>

        <div class="form-row col-md-12">
            {{ form_row(formRegistration.email, {
                        'label': 'Adresse mail', 
                        'attr': {'placeholder': 'Email ...'}
                    })   
        }}
        </div>

        <div class="form-row col-md-12">
            {{ form_row(formRegistration.password, {
                        'label': 'Mot de passe', 
                        'attr': {'placeholder': 'Mot de passe ...'}
                    })   
        }}
        </div>

        <div class="form-row col-md-12">
            {{ form_row(formRegistration.confirm_password, {
                        'label': 'Confirmation', 
                        'attr': {'placeholder': 'Confirmation mot de passe ...'}
                    })   
        }}
        </div>

        <div class="form-row col-md-12">
            {{ form_widget(formRegistration) }}
            <button class="btn btn-primary" type="submit">Envoyer !</button>
        </div>


        {{ form_end(formRegistration) }}

    </div>
</div>
{% endblock %}

{#{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/registration/registration.js') }}"></script>
{% endblock %}#}