{% extends 'base.html.twig'%}

{% block title 'Thesaurilittera'%}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/home/home.css') }}" rel="stylesheet" />
<link href="{{ asset('css/home/carousel.css') }}" rel="stylesheet" />
<link href="{{ asset('css/home/selectionBook.css') }}" rel="stylesheet" />
<link href="{{ asset('css/home/bestSelling.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="container">
    <h3>En ce moment...</h3>
    <div class="row flex">
        {% for book in books %}
            <div class="d-flex col-2"> <!-- d-flex (bootstrap) permet d'obtenir une même hauteur pour toutes les cartes-->
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{path('showBook', {id:book.id, slug: book.slug})}}">{{book.title}}</a>
                        </h5>
                        <div class="card-text">
                            <h6><b>{{book.author.firstname}} {{book.author.name}}</b></h6>
                            <h6>{{book.category.title}}</h6>
                            <p>{{book.summary | slice(0, 100)}} [...]</p>
                            <a href="{{path('showBook', {id:book.id, slug: book.slug})}}" class="btn btn-primary ">Plus !</a>
                        </div>
                    </div>
                </div>
            </div> 
        {% endfor %}
    </div>

</div>

{% endblock body %}

{% block javascripts %}
{{ parent() }}

<script src="{{ asset('js/home/carousel.js') }}"></script>
{% endblock javascripts%}