{% extends 'base.html.twig'%}

{% block title 'Thesaurilittera'%}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/home/home.css') }}" rel="stylesheet" />
<link href="{{ asset('css/home/carousel.css') }}" rel="stylesheet" />
<link href="{{ asset('css/home/selectionBook.css') }}" rel="stylesheet" />
<link href="{{ asset('css/home/bestSelling.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<main>
    <div class="container mt-4">
        <div class="row col-md-12 homepage">
            <div class="col-md-8">
                <div class="row  carousel-selection">
                    <!-- Section-carousel -->
                    <div class="col-md-12 section-carousel">
                        <h3>En ce moment...</h3>
                        <section class=" section-preview text-center">

                            <!-- Carousel content  -->
                            <div id="option" class="carousel slide" data-ride="carousel">

                                <!--Controls-->
                                <div class="controls-top">
                                    <a class="btn-floating ripple" href="#option" data-slide="prev"><i
                                            class="fas fa-chevron-left fa-2x"></i></a>
                                    <a class="btn-floating ripple" href="#option" data-slide="next"><i
                                            class="fas fa-chevron-right fa-2x"></i></a>
                                </div>
                                <!--/.Controls-->

                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        {% for book in books %}
                                        <div class="d-flex col-4">
                                            <!-- d-flex (bootstrap) permet d'obtenir une même hauteur pour toutes les cartes-->
                                            <div class="card text-center">
                                                <div class="card-body">
                                                    <img class="card-img-top"
                                                        src="{{ asset('images/covers/')}}{{book.filename}}"
                                                        alt="{{book.title}}">
                                                    <h5 class="card-title">
                                                        <a
                                                            href="{{path('showBook', {id:book.id, slug: book.slug})}}">{{book.title}}</a>
                                                    </h5>
                                                    <div class="card-text">
                                                        <h6><b>{{book.author.firstname}} {{book.author.name}}</b></h6>
                                                        <h6>{{book.category.title}}</h6>
                                                        <p>{{book.summary | slice(0, 100)}} [...]</p>
                                                        {#<a href="{{path('showBook', {id:book.id, slug: book.slug})}}" class="btn btn-primary ">Plus
                                !</a>#}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.carousel-item active -->
                                    <div class="carousel-item">
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- /.carousel-inner -->
                            </div>
                            <!-- /.carousel content -->

                        </section>
                        <!-- /.section-preview -->
                    </div>
                    <!-- /.section-carousel -->

                    <div class="col-md-12 book-selection ">
                        <h3>Sélection du livre de la semaine</h3>
                        <section class="card-selection">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="{{ asset('images/ancient-books.jpg') }}" class="card-img"
                                        alt="Livre antique">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Titre du livre</h5>
                                        <h5 class="card-title">Auteur</h5>
                                        <h6 class="card-title">Catégorie</h6>
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural lead-in to additional content. This content is a little bit longer.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- /.book-selection -->
                </div>
                <!-- /.row carousel-selection -->
            </div>
            <!-- /.col-md-8 -->

            <div class="col-md-4 best-selling">
                <div class="row book-comment">
                    <div class="col-md-12 best-book">
                        <div class="jumbotron">
                            <h4>Meilleure vente</h4>
                            <div class="card mb-2">
                                <img class="card-img-top" src="{{ asset('images/ancient-books.jpg') }}"
                                    alt="Livre antique">
                                <div class="card-body">
                                    <h4 class="card-title font-weight-bold">Titre du livre 2</h4>
                                    <h4 class="card-text">Auteur</h4>
                                    <h5 class="card-text">Categorie</h5>
                                </div>
                            </div>
                        </div>
                        <!-- /.jumbotron -->
                    </div>
                    <!-- /.best-book -->
                    <div class="col-md-12 last-comment">
                        <div class="jumbotron">
                            <h4 class="talk-about">On en parle</h4>
                            <div class="card">
                                <a href="#">
                                    <div class="card-header">
                                        <h5>Titre du livre 1</h5>
                                    </div>
                                </a>
                                <a href="#"></a>
                                <div class="card-content">
                                    <p class="card-author">Jean</p>
                                    <p>a laissé ce commentaire :</p>
                                    <p class="card-content"><span>Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Eum exercitationem atque, nemo corrupti in blanditiis voluptatum?
                                            Ipsum, fugiat dolore possimus sed delectus quisquam vel atque vitae harum.
                                            Blanditiis, ratione hic!</span></p>
                                </div>
                                <div class="card-action">
                                    <ul class="tools">
                                        <li><i class="fas fa-heart"></i><span class="tools-item-counter">14</span></li>
                                        <li><i class="fas fa-comment"></i><span class="tools-item-counter">5</span></li>
                                        <li><i class="fas fa-eye"></i><span class="tools-item-counter">230</span></li>
                                    </ul>
                                </div>
                                </a>
                            </div>
                        </div>
                        <!-- /.jumbotron -->
                    </div>
                    <!-- /.last-comment -->
                </div>
            </div>
        </div>
        <!-- /.grid row homepage -->
    </div>
    <!-- /.container -->
</main>



{% endblock body %}

{% block javascripts %}
{{ parent() }}

<script src="{{ asset('js/home/carousel.js') }}"></script>
{% endblock javascripts%}