{% extends 'base.html.twig' %}

{% block title %}Votre panier !{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Votre panier</h1>
        <table class="table table-striped table-hover mt-4">
            <thead>
                <tr>
                    <th>Titre du livre</th>
                    <th>Auteur</th>
                    <th>Quantité</th>
                    <th>Prix unitaire</th>
                    <th>Actions</th>
                    <th>Total HT</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <form action="{{ path('add', {'id': book.id}) }}" method="get">
                        <td>{{book.title}}</td>
                        <td>{{book.author.firstname}} {{book.author.name}}</td>
                        <td>
                            <select name="quantity" id="quantity" onchange="this.form.submit()">
                                {% for i in 1..10 %}
                                <option value="{{ i }}" {% if i == cartShopping[book.id] %} selected="selected"
                                    {% endif %}>
                                    {{ i }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>{{book.price}}</td>
                        <td>
                            {# <a href="#"><i class="fas fa-sync"></i></a> #}
                            <a href="{{ path('remove', {'id': book.id}) }}"><i class="fas fa-trash-alt"></i></a>
                        </td>
                        <td>{{book.price * cartShopping[book.id] }} €</td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row-flex mt-4">
        <div class="col-md-6 offset-md-10">
            <div class="htPrice"><b>Total HT :</b> 100 €</div>
            <div class="tva"><b>TVA :</b> 5.5</div>
            <div class="ttcPrice"><b>Total TTC :</b> 105.5 €</div>
            <a href="{{ path('delivery')}}" class="btn btn-success">Valider le panier</a>
        </div>
        <a href="{{ path('bookstore') }}" class="btn btn-primary">Continuer les achats</a>
    </div>
    {% endblock %}

    {% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/cartshopping/cart_shopping.js')}}"></script>
    {% endblock %}