{% extends 'base.html.twig' %}

{% block title %}Votre panier !{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/cartShopping/cartShopping.css') }}" rel="stylesheet" />
{% endblock stylesheets%}

{% set total = 0 %}

{% block body %}
<div class="container">
    <div class="row">
        <h5>Récapitulatif du panier</h5>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Livre</th>
                    <th>Auteur</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{book.title}}</td>
                    <td>{{book.author.firstname}} {{book.author.name}}</td>
                    <td>{{ cartShopping[book.id] }}</td>
                    <td>{{book.price}}</td>
                    <td>{{book.price * cartShopping[book.id] }}</td>
                </tr>
                {% set total = total + (book.price * cartShopping[book.id]) %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-right"><b>Total HT :</b></td>
                    {% if books|length != 0 %}
                    <td>{{ total }} €</td>
                    {% endif %}
                </tr>
            </tfoot>
        </table>
    </div> <!-- /.row  -->
</div> <!-- /.container  -->
{% endblock body %}