{% extends 'base.html.twig' %}

{% block title %}Validez votre panier !{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/cartShopping/cartShopping.css') }}" rel="stylesheet" />
{% endblock stylesheets%}

{% set total = 0 %}
{% set tva = 0 %}
{% set totalTtc = 0 %}

{% block body %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('cart') }}">Panier</a></li>
            <li class="breadcrumb-item active">Validation</li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="row">
        <h2>Validation du panier</h2>
        <table class="table table-striped table-hover mt-4">
            <thead>
                <tr>
                    <th>Titre du livre</th>
                    <th>Auteur</th>
                    <th>Quantité</th>
                    <th>Prix unitaire</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for book in books %}
                    <td>{{ book.title }}</td>
                    <td>{{ book.author.firstname }} {{ book.author.name }}</td>
                    <td>{{ cartShopping[book.id] }}</td>
                    <td>{{ book.price }} €</td>
                    <td>{{book.price * cartShopping[book.id] }} €</td>
                </tr>
                {% set total = total + (book.price * cartShopping[book.id]) %}
                {% set tva = (total * 5.5) / 100 %}
                {% set totalTtc = total + tva %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-right"><b>Total HT :</b></td>
                    <td>{{ total }} €</td>
                </tr>
                <tr>
                    <td colspan="4" class="text-right"><b>TVA (5.5%) :</b></td>
                    <td>{{ tva }}</td>
                </tr>
                <tr>
                    <td colspan="4" class="text-right"><b>Total TTC :</b></td>
                    <td>{{ totalTtc|number_format(2, '.', ',') }} €</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="jumbotron-white d-flex">
        <div class="">
            <h5>Adresse de livraison</h5>
            {{ delivery.name }} {{ delivery.firstname}} <br>
            {{ delivery.addressNumber }} {{ delivery.address }} <br>
            {{ delivery.postalCode }} {{ delivery.city }}

        </div>

        <div class="ml-4">
            <h5>Adresse de facturation</h5>
            {{ facturation.firstname}} {{ facturation.name }} <br>
            {{ facturation.addressNumber }} {{ facturation.address }} <br>
            {{ facturation.postalCode }} {{ facturation.city }}
        </div>
    </div>

</div>

<div class="col-md-6 offset-4 mt-4 btnValidationCart">
    <a href="{{ path('delivery')}}" class="btn btn-outline-primary">Retour !</a>
    <a href="#" class="btn btn-success">Payer</a>
</div>
{% endblock body %}