{% extends 'base.html.twig' %}

{% block title %}Validez votre panier !{% endblock %}
{% set total = 0 %}

{% block body %}
<div class="container">
    <div class="row">
        <h2>Validation du panier</h2>
        <table class="table table-striped table-hover mt-4">
            <thead>
                <tr>
                    <th>Titre du livre</th>
                    <th>Auteur</th>
                    <th>Quantité</th>
                    <th>Prix unitaire</th>
                    <th>Actions</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for book in books %}
                    <td>{{ book.title }}</td>
                    <td>{{ book.author.firstname }} {{ book.author.name }}</td>
                    <td>{{ cartShopping[book.id] }}</td>
                    <td>{{ book.price }} €</td>
                    <td>
                        <a href="#"><i class="fas fa-sync"></i></a>
                        <a href="#"><i class="fas fa-trash-alt"></i></a>
                    </td>
                    <td>{{book.price * cartShopping[book.id] }} €</td>
                </tr>
                {% set total = total + (book.price * cartShopping[book.id]) %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row-flex mt-4">
        <div class="col-md-6 offset-md-10">
            <div class="htPrice"><b>Total HT :</b> {{ total }}</div>
            <div class="tva"><b>TVA :</b> 5.5</div>
            <div class="ttcPrice"><b>Total TTC :</b> 105.5 €</div>
            <a href="#" class="btn btn-success mt-4">Payer</a>
        </div>
        <a href="{{ path('delivery') }}" class="btn btn-primary">Retour !</a>
    </div>
</div>
{% endblock %}