{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset ('css/admin/header/header.css') }}">
<link rel="stylesheet" href="{{ asset ('css/admin/navigation/sidebar.css') }}">
<link rel="stylesheet" href="{{ asset ('css/admin/dashboard/dashboard.css') }}">

{% endblock stylesheets %}

{% block header %}
{% include 'admin/partials/header.html.twig' %}
{% endblock header %}

{% block body %}

<div class="row">
    <div class="row col-md-3 dashboard-sidebar">
        {% include 'admin/partials/sidebar.html.twig' %}
    </div>

    <div class="row col-md-8">
        <h2>Voici votre tableau de bord {{ app.user.username }} !</h2>
    </div>
</div>
{% endblock body %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('js/admin/sidebar.js')}}"></script>
{% endblock javascript%}