{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset ('css/admin/header/header.css') }}">
<link rel="stylesheet" href="{{ asset ('css/admin/navigation/sidebar.css') }}">
<link rel="stylesheet" href="{{ asset ('css/admin/address/add.css') }}">
{% endblock stylesheets %}

{% block header %}
{% include 'admin/partials/header.html.twig' %}
{% endblock header %}

{% block body %}
<div class="row address-add">
    <div class="row col-md-3">
        {% include 'admin/partials/sidebar.html.twig' %}
    </div>

    <div class="row col-md-8 mt-4 address-user">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ form_start(formAddress) }}
        {{ form_widget(formAddress) }}
        <button>Modifier</button>

        {{ form_end(formAddress) }}
        {% endif %}
    </div>
</div>


{% endblock %}