{% extends 'base.html.twig' %}

{% block title %}Livres à l'échange{% endblock %}

{% block stylesheets %}
{{ parent() }}

<link rel="stylesheet" href="{{ asset('css/bookexchange/carousel-3d.css')}}">

{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
        <li class="breadcrumb-item active">Echanges</li>
    </ol>
</nav>
<!-- Container tridim-->
<div class="container tridim">
    <div class="row onthetop">
        <div class="col-md-6">
            <button onclick="rotate(-1)"><i class="fas fa-angle-left"></i></button>
            <button onclick="rotate(1)"><i class="fas fa-angle-right"></i></button>
        </div>
        <div class="col-md-2">
            <!-- Filter bar-->
            <div class="filter-bar">
                <select class="custom-select">
                    <option selected>Filtrer par</option>
                    <option value="1">Titre du livre</option>
                    <option value="2">Auteur</option>
                </select>
            </div>
            <!-- /.filter-bar -->
        </div>

    </div>

    <!-- Grid row-->
    <div class="row">
        <!-- Carousel-3d-->
        <div class="carousel-3d">
            <!-- item-3d-->
            <div class="item-3d">
                <div class="img-3d-book">
                    <img class="card-img-top" src="{{ asset('images/ancient-books.jpg') }}" alt="Livre antique">
                </div>
                <div class="content-3d-book">
                    <h5 class="title-3d-book">Titre du livre</h5>
                    <h6 class="author-3d-book">Auteur</h6>
                    <p class="category-3d-book">Catégorie</p>
                    <p class="summary-3d-book">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero minima
                        aperiam in libero ducimus quisquam repellat...</p>
                    <button class="btn btn-primary btn-sm">L'obtenir</button>
                </div>
            </div>
            <!-- /.item-3d-->

            <div class="item-3d">
                <div class="img-3d-book">
                    <img class="card-img-top" src="{{ asset('images/book-pages.jpg') }}" alt="Livre ouvert">
                </div>
                <div class="content-3d-book">
                    <h5 class="title-3d-book">Titre du livre</h5>
                    <h6 class="author-3d-book">Auteur</h6>
                    <p class="category-3d-book">Catégorie</p>
                    <p class="summary-3d-book">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero minima
                        aperiam in libero ducimus quisquam repellat...</p>
                    <button class="btn btn-primary btn-sm">L'obtenir</button>
                </div>
            </div>

            <div class="item-3d">
                <div class="img-3d-book">
                    <img class="card-img-top" src="{{ asset('images/ancient-books.jpg') }}" alt="Livre antique">
                </div>
                <div class="content-3d-book">
                    <h5 class="title-3d-book">Titre du livre</h5>
                    <h6 class="author-3d-book">Auteur</h6>
                    <p class="category-3d-book">Catégorie</p>
                    <p class="summary-3d-book">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero minima
                        aperiam in libero ducimus quisquam repellat...</p>
                    <button class="btn btn-primary btn-sm">L'obtenir</button>
                </div>
            </div>

            <div class="item-3d">
                <div class="img-3d-book">
                    <img class="card-img-top" src="{{ asset('images/book-pages.jpg') }}" alt="Livre ouvert">
                </div>
                <div class="content-3d-book">
                    <h5 class="title-3d-book">Titre du livre</h5>
                    <h6 class="author-3d-book">Auteur</h6>
                    <p class="category-3d-book">Catégorie</p>
                    <p class="summary-3d-book">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero minima
                        aperiam in libero ducimus quisquam repellat...</p>
                    <button class="btn btn-primary btn-sm">L'obtenir</button>
                </div>
            </div>

            <div class="item-3d">
                <div class="img-3d-book">
                    <img class="card-img-top" src="{{ asset('images/ancient-books.jpg') }}" alt="Livre antique">
                </div>
                <div class="content-3d-book">
                    <h5 class="title-3d-book">Titre du livre</h5>
                    <h6 class="author-3d-book">Auteur</h6>
                    <p class="category-3d-book">Catégorie</p>
                    <p class="summary-3d-book">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero minima
                        aperiam in libero ducimus quisquam repellat...</p>
                    <button class="btn btn-primary btn-sm">L'obtenir</button>
                </div>
            </div>

            <div class="item-3d">
                <div class="img-3d-book">
                    <img class="card-img-top" src="{{ asset('images/book-pages.jpg') }}" alt="Livre ouvert">
                </div>
                <div class="content-3d-book">
                    <h5 class="title-3d-book">Titre du livre</h5>
                    <h6 class="author-3d-book">Auteur</h6>
                    <p class="category-3d-book">Catégorie</p>
                    <p class="summary-3d-book">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero minima
                        aperiam in libero ducimus quisquam repellat...</p>
                    <button class="btn btn-primary btn-sm">L'obtenir</button>
                </div>
            </div>
        </div>
        <!-- /.carousel-3d-->
    </div>
    <!-- /.grid row-->
    <!-- Pagination-->
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Précédent</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Suvant</a></li>
        </ul>
    </nav>
    <!-- /.pagination-->
</div>
<!-- /.container tridim-->
{% endblock body %}

{% block javascripts %}
{{ parent() }}

<script src="{{ asset('js/bookexchange/carousel-3d.js') }}"></script>
{% endblock javascripts%}