{% extends 'base.html.twig'%}

{% block title 'Résultats de la recherche' %}

{% block body %}
<h1>Résultat(s) de la recherche</h1>

<ul>
    <!-- Boucle inversée dans Twig -->
    {% for result in results %}
    <li>{{ result.title }}</li>
    <li>{{ result.author }}</li>
    <li>{{ result.publisher }}</li>
    <li>{{ result.publishedDate }}</li>
    <li>{{ result.description }}</li>
    <hr> 
    {% endfor %}  
</ul>

{% endblock %}