{% form_theme formAddedCategory 'bootstrap_4_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block title %}Ajouter une catégorie{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset ('css/admin/header/header.css') }}">
<link rel="stylesheet" href="{{ asset ('css/admin/navigation/sidebar.css') }}">
<link rel="stylesheet" href="{{ asset ('css/admin/category/addedCategory.css') }}">
{% endblock stylesheets %}

{% block header %}
{% include 'admin/partials/header.html.twig' %}
{% endblock header %}

{% block body %}
<div class="row">
    <div class="row col-md-3 category-sidebar">
        {% include 'admin/partials/sidebar.html.twig' %}
    </div>

    <div class="row col-md-8 mt-4 category-add">
        <h2>Ajouter une catégorie</h2>

        {{ form_start(formAddedCategory)}}
        <div class="form-group">
            {{ form_row(formAddedCategory.title, {
                            'label': 'Titre',
                            'attr': {'placeholder': 'Titre de la catégorie ...'}
                        }) 
            }}
        </div>

        <div class="form-group">
            {{ form_row(formAddedCategory.description, {
                            'label': 'Description',
                            'attr': {'placeholder': 'Description ...'}
                        }) 
            }}
        </div>

        <div class="form-group">
            <button class="btn btn-warning">Ajouter !</button>
            <a href="{{ path('admin_book_all') }}" class="btn btn-outline-primary">Bibliothèque</a>
        </div>

        {{ form_end (formAddedCategory)}}
    </div>
</div>
{% endblock %}