<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Accueil{% endblock %}</title>

    {% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    {% endblock %}
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand thesaurilittera" href="{{ path('home') }}"><img
                src="https://img.icons8.com/flat_round/64/000000/bookmark-book.png" width="50"
                height="50">Thesaurilittera</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'home' %}active{% endif %}"
                        href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'bookstore' %}active{% endif %}"
                        href="{{ path('bookstore') }}">Librairie</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="">Forum</a>
                </li>
            </ul>

            <!-- search bar-->
            <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                    <div id="searchBar">
                        {{ render(controller('App\\Controller\\SearchController::searchBar')) }}
                    </div>
                </div>
            </div>
            <!-- /.search bar-->

            <!-- login/logout  -->
            <ul class="navbar-nav login">
                {% if not app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
                    <a style="color: #060606;" href="{{ path('cart') }}"><span class="fa-stack has-badge">
                            <i class="fa fa-shopping-cart fa-stack-1x xfa-inverse"></i>
                        </span> <span class="badge badge-pill badge-dark">0</span> </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('security_logout') }}">Déconnexion</a>
                    <a style="color: #060606;" href="{{ path('cart',{ id : app.user.id }) }}"><span
                            class="fa-stack has-badge">
                            <i class="fa fa-shopping-cart fa-stack-1x xfa-inverse"></i>
                        </span> <span class="badge badge-pill badge-dark">0</span> </a>
                </li>
                {% endif %}
            </ul>
            <!-- /.login/logout -->
        </div>
    </nav>
    <!-- /.Navbar -->

    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}

    {% block body %}

    {% endblock %}

    <!-- Footer -->
    <footer class="page-footer font-small blue-gry lighten-5  mt-4 pt-4">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase mb-4">Informations</h5>
                    <ul class="list-unstyled">
                        <li>
                            <p>
                                <a href="#">Qui sommes-nous ?</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#">Mentions légales</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#">CGV</a>
                            </p>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mb-4">Services</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p>
                                <a href="#">Service client</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                Paiements sécurisés
                            </p>
                        </li>
                        <li>
                            <p>
                                Expédition sous 24H
                            </p>
                        </li>

                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                    <!-- Contact details -->
                    <h5 class="font-weight-bold text-uppercase mb-4">Contact</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p>
                                <i class="fas fa-home mr-3"></i>12,rue de la presse 75000 Paris</p>
                        </li>
                        <li>
                            <p>
                                <i class="fas fa-envelope mr-3"></i> thesaurilittera@gmail.com</p>
                        </li>
                        <li>
                            <p>
                                <i class="fas fa-phone mr-3"></i> + 01 02 03 04 05</p>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

                    <!-- Social buttons -->
                    <h5 class="font-weight-bold text-uppercase mb-4">Suivez-nous</h5>

                    <!-- Facebook -->

                    <a href="#"><i class="fab fa-facebook-f"></i></a>

                    <!-- Twitter -->

                    <a href="#"><i class="fab fa-twitter"></i></a>

                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© {{ "now"|date('Y') }} Copyright - Thesaurilittera</div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    {% endblock %}
</body>

</html>