{% form_theme formAddedBook 'bootstrap_4_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block title %}Ajouter un livre{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset ('css/admin/header/header.css') }}">
<link rel="stylesheet" href="{{ asset ('css/admin/navigation/sidebar.css') }}">
<link rel="stylesheet" href="{{ asset ('css/admin/bookstore/addedbook.css') }}">
{% endblock stylesheets %}

{% block header %}
{% include 'admin/partials/header.html.twig' %}
{% endblock header %}

{% block body %}

<div class="row">
    <div class="row col-md-4">
        {% include 'admin/partials/sidebar.html.twig' %}
    </div>

    <div class="row col-md-6">
        <section class="content">
            {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}
            <h2>Ajouter un livre </h2>

            {{ form_start(formAddedBook) }}
            <div class="form-group">
                {{ form_row(formAddedBook.title, {
                                'label': 'Titre', 
                                'attr': {'placeholder': 'Titre du livre ...'}
                            })
                }}
            </div>

            <div class="form-group">
                {{ form_row(formAddedBook.author, {
                                'label': 'Auteur'
                            })
                }}

                <a href="{{ path('author_add') }}">+</a>

            </div>

            <div class="form-group">
                {{ form_row(formAddedBook.publisher, {
                                'label': 'Editions', 
                                'attr': {'placeholder': 'Editions ...'}
                            })
                }}
            </div>

            <div class="form-group">
                {{ form_row(formAddedBook.publishedDate, { 
                                'label': 'Date de publication', 
                                'attr': {'placeholder': 'Date de publication ...'}
                            })
                }}
            </div>

            <div class="form-group">
                {{ form_row(formAddedBook.summary, {
                                'label': 'Résumé', 
                                'attr': {'placeholder': 'Résumé du livre ...'}
                            })
                }}
            </div>

            <div class="form-group">
                {{ form_row(formAddedBook.publishedDate, {
                                'label': 'Date de publication', 
                                'attr': {'placeholder': 'Date de publication ...'}
                            })
                }}
            </div>

            <div class="form-group">
                {{ form_row(formAddedBook.imageFile, {
                                'label': 'Couverture', 
                                'attr': {'placeholder': 'Insérer l\'image de la couverture ...'}
                            })
                }}
            </div>

            <div class="form-group">
                {{ form_row(formAddedBook.category, {
                                'label': 'Categorie', 
                                'attr': {'placeholder': 'Choisir une catégorie ...'}
                            })
                }}
                <a href="{{ path('addedCategory') }}">+</a>
            </div>

            <div class="form-group">
                {{ form_row(formAddedBook.price, {
                                'label': 'Prix', 
                                'attr': {'placeholder': 'Prix du livre ...'}
                            })
                }}
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Ajouter !</button>
            </div>
            {{ form_end(formAddedBook) }}
        </section>
    </div>
</div>

{% endblock %}