{% form_theme formBook 'bootstrap_4_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block title %}Ajouter un livre{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset ('css/admin/header/header.css') }}">
<link rel="stylesheet" href="{{ asset ('css/admin/navigation/sidebar.css') }}">
<link rel="stylesheet" href="{{ asset ('css/admin/bookstore/addedbook.css') }}">
{% endblock stylesheets %}

{% block header %}
{% include 'admin/partials/header.html.twig' %}
{% endblock header %}

{% block body %}

<div class="row">
    <div class="row col-md-3">
        {% include 'admin/partials/sidebar.html.twig' %}
    </div>
    <!-- /.row col-md-3 -->

    <div class="row col-md-8 mt-4 book-add">
        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}
        {% if editMode %}
        <h2>Modifier un livre</h2>
        {% else %}
        <h2>Ajouter un livre</h2>
        {% endif %}
        {{ form_start(formBook) }}

        <div class="form-group">
            {{ form_row(formBook.title, {
                            'label': 'Titre', 
                            'attr': {'placeholder': 'Titre du livre ...'}
                        })
            }}
        </div>

        <div class="form-group">
            {{ form_row(formBook.author, {
                            'label': 'Auteur'
                        })
            }}
            <a class="btn btn-outline-primary btn-sm" href="{{ path('admin_author_add') }}">Ajouter un auteur</a>
        </div>

        <div class="form-group">
            {{ form_row(formBook.publisher, {
                            'label': 'Editions', 
                            'attr': {'placeholder': 'Editions ...'}
                        })
            }}
        </div>

        <div class="form-group">
            {{ form_row(formBook.publishedDate, { 
                            'label': 'Date de publication', 
                            'attr': {'placeholder': 'Date de publication ...'}
                        })
            }}
        </div>

        <div class="form-group">
            {{ form_row(formBook.summary, {
                            'label': 'Résumé', 
                            'attr': {'placeholder': 'Résumé du livre ...'}
                        })
            }}
        </div>

        <div class="form-group">
            {{ form_row(formBook.publishedDate, {
                            'label': 'Date de publication', 
                            'attr': {'placeholder': 'Date de publication ...'}
                        })
            }}
        </div>

        <!-- For added a path of the image -->
        <div class="form-group">
            {{ form_row(formBook.imageFile, {
                            'label': 'Couverture du livre', 
                            'attr': {'placeholder': 'Insérer l\'image de la couverture ...'},
                        })
                }}
        </div>

        <div class="form-group">
            {{ form_row(formBook.filename, {
                            'label': 'Image', 
                        })
                }}
        </div>

        <div class="form-group">
            {{ form_row(formBook.category, {
                            'label': 'Categorie', 
                            'attr': {'placeholder': 'Choisir une catégorie ...'}
                        })
                }}
            <a class="btn btn-outline-primary btn-sm" href="{{ path('admin_category_add') }}">Ajouter une catégorie</a>
        </div>

        <div class="form-group">
            {{ form_row(formBook.price, {
                            'label': 'Prix', 
                            'attr': {'placeholder': 'Prix du livre ...'}
                        })
                }}
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-warning">
                {% if editMode %}
                Modifier !
                {% else %}
                Ajouter !
                {% endif %}
            </button>
            <a href="{{ path('admin_book_all') }}" class="btn btn-outline-primary">Bibliothèque</a>
        </div>
        {{ form_end(formBook) }}

    </div>
    <!-- /.row col-md-8 -->
</div>
<!-- /.row -->

{% endblock %}