{% extends 'base.html.twig' %}

{% block title %}Librairie{% endblock %}

{% block stylesheets %}
{{ parent() }}

<link rel="stylesheet" href="{{ asset('css/bookstore/bookstore.css')}}">
<link rel="stylesheet" href="{{ asset('css/bookstore/breadcrumb.css')}}">
<link rel="stylesheet" href="{{ asset('css/bookstore/animationbook.css')}}">
{% endblock stylesheets %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
        <li class="breadcrumb-item active">Librarie</li>
    </ol>
</nav>

<div class="container bookstore">
    <div class="row">
        <!-- Content -->
        <div class="col-md-12">
            <div class="row">
                <div class="filter-bar row col-xs-12">
                    <select class="custom-select">
                        <option selected>Filtrer par</option>
                        <option value="1">Titre du livre</option>
                        <option value="2">Auteur</option>
                    </select>
                </div>
                <!-- /.filter-bar -->

                <!-- books row-0 -->
                <div class="store row col-sm-12 row-0">

                    <div class=" col-md-3 col-sm-6">
                        <h4 class="store-title-book">
                            <a href="#">Titre du livre 1</a>
                        </h4>
                        <div class="book-view book-closeview">
                            <div class="image-couv">
                                <div class="front">
                                    <div class="thumbnail-image">
                                        <img class="card-img" src="{{ asset('images/ancient-books.jpg') }}"
                                            alt="Livre antique">
                                    </div>
                                </div>
                                <div class="cover"></div>
                                <div class="back">
                                    <h6>Titre du livre</h6>
                                    <p>Prix : 15.00</p>
                                    <button class="btn blue-gradient btn-rounded">Plus de détails</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="book-container col-md-3 col-sm-6">
                        <h4 class="store-title-book">
                            <a href="#">Titre du livre 2</a>
                        </h4>
                        <div class="book-view book-closeview">
                            <div class="image-couv">
                                <div class="front">
                                    <div class="thumbnail-image">
                                        <img class="card-img" src="{{ asset('images/book-pages.jpg') }}"
                                            alt="Livre ouvert">
                                    </div>
                                </div>
                                <!--/.front -->
                                <div class="cover"></div>
                                <div class="back">
                                    <h6>Titre du livre</h6>
                                    <p>Prix : 15.00</p>
                                    <button class="btn blue-gradient btn-rounded">Plus de détails</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="book-container col-md-3 col-sm-6">
                        <h4 class="store-title-book">
                            <a href="#">Titre du livre 3</a>
                        </h4>
                        <div class="book-view book-closeview">
                            <div class="image-couv">
                                <div class="front">
                                    <div class="thumbnail-image">
                                        <img class="card-img" src="{{ asset('images/ancient-books.jpg') }}"
                                            alt="Livre antique">
                                    </div>
                                </div>
                                <!--/.front -->
                                <div class="cover"></div>
                                <div class="back">
                                    <h6>Titre du livre</h6>
                                    <p>Prix : 15.00</p>
                                    <button class="btn blue-gradient btn-rounded">Plus de détails</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="book-container col-md-3 col-sm-6">
                        <h4 class="store-title-book">
                            <a href="#">Titre du livre 4</a>
                        </h4>
                        <div class="book-view book-closeview">
                            <div class="image-couv">
                                <div class="front">
                                    <div class="thumbnail-image">
                                        <img class="card-img" src="{{ asset('images/book-pages.jpg') }}"
                                            alt="Livre ouvert">
                                    </div>
                                </div>
                                <!--/.front -->
                                <div class="cover"></div>
                                <div class="back">
                                    <h6>Titre du livre</h6>
                                    <p>Prix : 15.00</p>
                                    <button class="btn blue-gradient btn-rounded">Plus de détails</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.books row-0 -->
                    <!-- books row-1 -->
                    <div class="store row col-sm-12 row-1">

                        <div class=" col-md-3 col-sm-6">
                            <h4 class="store-title-book">
                                <a href="#">Titre du livre 5</a>
                            </h4>
                            <div class="book-view book-closeview">
                                <div class="image-couv">
                                    <div class="front">
                                        <div class="thumbnail-image">
                                            <img class="card-img" src="{{ asset('images/ancient-books.jpg') }}"
                                                alt="Livre antique">
                                        </div>
                                    </div>
                                    <div class="cover"></div>
                                    <div class="back">
                                        <h6>Titre du livre</h6>
                                        <p>Prix : 15.00</p>
                                        <button class="btn blue-gradient btn-rounded">Plus de détails</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="book-container col-md-3 col-sm-6">
                            <h4 class="store-title-book">
                                <a href="#">Titre du livre 6</a>
                            </h4>
                            <div class="book-view book-closeview">
                                <div class="image-couv">
                                    <div class="front">
                                        <div class="thumbnail-image">
                                            <img class="card-img" src="{{ asset('images/book-pages.jpg') }}"
                                                alt="Livre ouvert">
                                        </div>
                                    </div>
                                    <!--/.front -->
                                    <div class="cover"></div>
                                    <div class="back">
                                        <h6>Titre du livre</h6>
                                        <p>Prix : 15.00</p>
                                        <button class="btn blue-gradient btn-rounded">Plus de détails</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="book-container col-md-3 col-sm-6">
                            <h4 class="store-title-book">
                                <a href="#">Titre du livre 7</a>
                            </h4>
                            <div class="book-view book-closeview">
                                <div class="image-couv">
                                    <div class="front">
                                        <div class="thumbnail-image">
                                            <img class="card-img" src="{{ asset('images/ancient-books.jpg') }}"
                                                alt="Livre antique">
                                        </div>
                                    </div>
                                    <!--/.front -->
                                    <div class="cover"></div>
                                    <div class="back">
                                        <h6>Titre du livre</h6>
                                        <p>Prix : 15.00</p>
                                        <button class="btn blue-gradient btn-rounded">Plus de détails</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="book-container col-md-3 col-sm-6">
                            <h4 class="store-title-book">
                                <a href="#">Titre du livre 8</a>
                            </h4>
                            <div class="book-view book-closeview">
                                <div class="image-couv">
                                    <div class="front">
                                        <div class="thumbnail-image">
                                            <img class="card-img" src="{{ asset('images/book-pages.jpg') }}"
                                                alt="Livre ouvert">
                                        </div>
                                    </div>
                                    <!--/.front -->
                                    <div class="cover"></div>
                                    <div class="back">
                                        <h6>Titre du livre</h6>
                                        <p>Prix : 15.00</p>
                                        <button class="btn blue-gradient btn-rounded">Plus de détails</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.books row-1 -->
                    </div>
                    <!-- /.store -->
                </div>
                <!-- /.grid row -->
            </div>
            <!-- /.content -->
            <!-- Pagination-->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Précédent</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Suvant</a></li>
                </ul>
            </nav>
            <!-- /.pagination-->
        </div>
        <!-- /.grid row -->
    </div>
    <!-- /.container -->
    {% endblock %}
    