{% extends 'base.html.twig' %}

{% block title %}Librairie{% endblock %}

{% block stylesheets %}
{{ parent() }}

<link rel="stylesheet" href="{{ asset('css/bookstore/bookstore.css')}}">
<link rel="stylesheet" href="{{ asset('css/bookstore/breadcrumb.css')}}">
<link rel="stylesheet" href="{{ asset('css/bookstore/animationbook.css')}}">
{% endblock stylesheets %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
        <li class="breadcrumb-item active">Librarie</li>
    </ol>
</nav>

<div class="container bookstore">
    <div class="row main">
        <!-- Content -->
        <div class="col-md-12">
            <!-- Row content -->
            <div class="row">
                <!-- Filter bar-->
                <div class="filter-bar row col-xs-12">
                    <select class="custom-select">
                        <option selected>Filtrer par</option>
                        <option value="1">Titre du livre</option>
                        <option value="2">Auteur</option>
                    </select>
                </div>
                <!-- /.filter-bar -->


                
                <div class="store row col-sm-12 row-0">
                    {% for book in books %}
                    <div class="book-container col-md-3 col-sm-6">
                        <h5 class="store-title-book">
                            <a href="#">{{book.title}}</a>
                        </h5>
                        <div class="book-view book-closeview">
                            <div class="image-couv">
                                <div class="front">
                                    <div class="thumbnail-image">
                                        <img class="card-img" src="{{ asset('images/covers/')}}{{book.filename}}"
                                            alt="{{book.title}}">
                                    </div>
                                </div>
                                <div class="cover"></div>
                                <div class="back">
                                    <h6>{{book.title}}</h6>
                                    <p>{{book.price}}</p>
                                    <button class="btn blue-gradient btn-rounded">Plus de détails</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <!-- /.store -->
            </div>
            <!-- /.grid row content -->
        </div>
        <!-- /.content -->


        <!-- Pagination-->
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Précédent</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Suvant</a></li>
            </ul>
        </nav>
        <!-- /.pagination-->
    </div>
    <!-- /.grid row main -->
</div>
<!-- /.container bookstore -->
{% endblock body %}